.buyer-body {
  width: 100%;
  .supplier-content {
    width: 1200px;
    margin: 0 auto;
    .supplier-left {
      width: 200px;
      margin-right: 30px;
      background: #FFFFFF;
      border: 1px solid #E2E2E2;
      border-top: 0 none;
      .el-menu-demo {
        border-right: 0 none;
        // 一级无折叠
        .el-menu-item {
          line-height: 30px;
          padding-left: 44px;
          height: 30px;
          font-size: 14px;
          color: #333333;
          margin-bottom: 7px;
          &:hover {
            background-color: transparent;
            font-size: 14px;
            color: #21B065;
          }
          i {
            color: #666666;
          }
        }
        // 二级 有折叠
        .el-submenu {
          .el-submenu__title {
            span {
              i {
                color: #909399 !important;
              }
            }
            i {
              color: #909399 !important;
            }
          }
        }
        .el-submenu.is-active .el-submenu__title {
          color: #666666;
          background: white;
        }
        // 焦点下字体变色
        .is-active {
          background-color: #21B065 !important;
          font-size: 14px;
          color: #FFFFFF !important;
          i {
            color: #ffffff !important;
          }
        }
      }
    }
    .supplier-right {
      width: 963px;
      .account-right {
        width: 100%;
      }
    }
  }
}
.list-icon {
  margin-right: 5px;
}
